@import url("reset.css");

body {
  font-family: "Helvetica";
  background: repeating-conic-gradient(#81d891 0% 25%, #68a8d8 0% 50%) 50% /
    20px 20px;
  background-size: 50px 50px;
  background-position: 0 0, 50px 50px;
  animation: slideAnimation 15s linear infinite;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

@keyframes slideAnimation {
  0% {
    background-position: 0 0, 50px 50px;
  }
  100% {
    background-position: 100px 100px, 150px 150px;
  }
}

#todo-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-body {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 11% 1fr;
  grid-template-areas: 
      "header header"
      "sidebar content"; 
  height: 850px;
  width: 1300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 20px 20px 17px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#todo-header {
  grid-area: header;
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
  background-color: #2a4482;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
}

#header-text {
  font-style: italic;
  margin-left: 45px;
  font-size: 60px;
  color: #ffa200;
  user-select: none;
}

#todo-sidebar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #4976d1;
  border-radius: 0px 0px 0 5px;
  padding: 25px;
}

.sidebar-btn {
  font-size: 25px;
  width: 100%;
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2a4482;
  background-color: #7c9eec;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #2a4482;
  letter-spacing: 2px;
}

.sidebar-btn:hover {background-color: #a7c2ff;}

.sidebar-btn:active {
  background-color: #a7c2ff;
  box-shadow: 0 5px #2a4482;
  transform: translateY(4px);
}

#add-project-btn {
  margin-top: 35px;
}

#todo-content {
  border-radius: 0 0 5px 0;
  background-color: #facff0;
 
}








/* POP UP MODAL SECTION */


.overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
}

#add-project-modal {
  /* display: none;  */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#add-project-body {
  border-radius: 5px;
  background-color: #4976d1;
  height: 500px;
  width: 900px;
}

.popup-header {
  height: 13%;
  width: 100%;
  background-color: #2a4482;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}

.popup-header-title {
  color: #ffa200;
  font-size: 40px;
  user-select: none;
  font-weight: bolder;
  font-style: italic;
  margin-left: 20px;
}


.popup-btn {
  font-size: 25px;
  width: 150px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2a4482;
  background-color: #7c9eec;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #2a4482;
  letter-spacing: 2px;
}

.popup-btn:hover {background-color: #a7c2ff;}

.popup-btn:active {
  background-color: #a7c2ff;
  box-shadow: 0 5px #2a4482;
  transform: translateY(4px);
}

.popup-text {
  color: #2a4482;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.popup-input {
  border-style: none;
  border-radius: 20px;
  font-size: 30px;
  background-color: #facff0;
}




/* UTILITY CLASSES */

.dblock {
  display: block;
}

.center-text {
  text-align: center;
}





